<div id="indexBody">
    <div class="form-group d-flex justify-content-center">
        <img src="/img/pikachu-logo.png" width="100px" alt="Fuzzy Cardigan" class="img-thumbnail img-responsive">
    </div>

    <div class="container ">


        <div class=" d-flex justify-content-center text-center">
            <div class="card" style="width: 18rem;">
                <img id="pokImg" src="<?= $this->view->pokemon[0]['imagem'] ?>" class="hiden card-img-top">
                <div id="conteudoPkm" class="card-body">
                    <h5 id="nomePok" class="card-title"><?= $this->view->pokemon[0]['nome'] ?></h5>
                    <p id="tipo" class="card-text">Tipo: <?= $this->view->pokemon[0]['categoria'] ?></p>
                    <p id="peso" class="card-text">Peso: <?= $this->view->pokemon[0]['peso'] . 'kg - '. $this->view->pokemon[0]['descPeso']?> </p>
                    <p id="altura" class="card-text">Altura: <?= $this->view->pokemon[0]['altura']. 'm - '.  $this->view->pokemon[0]['descAltura']?></p>
                    <?php if (isset($this->view->pokemon[0]['forca']) && $this->view->pokemon[0]['forca'] != 0 && isset($this->view->pokemon[0]['vida']) && $this->view->pokemon[0]['vida'] != 0) { ?>
                        <p id="altura" class="card-text">Força: <?= $this->view->pokemon[0]['forca'] . ' - ' .  $this->view->pokemon[0]['descForca']?></p>
                        <p id="altura" class="card-text">Vida: <?= $this->view->pokemon[0]['vida'] ?></p>
                    <?php } else { ?>
                        <a class="btn nav-link" href="treinarPokemon?id=<?= $this->view->pokemon[0]['id'] ?>&tipo=<?= $this->view->pokemon[0]['categoria'] ?>">Treinar Pokémon</a>
                    <?php } ?>
                </div>
            </div>
        </div>


    </div>

</div>