<div class="container mx-auto mt-4">
    <div class="row">
        <?php foreach ($this->view->pokemons as $id => $pokemon) { ?>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="<?= $pokemon['imagem'] ?>" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title"><?= $pokemon['nome'] ?></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Tipo: <?= $pokemon['categoria'] ?></h6>
                        <p class="card-text">Força: <?= $pokemon['forca'] ?></p>
                        <p class="card-text">Vida: <?= $pokemon['vida'] ?></p>
                        <a class="btn nav-link" href="analisePokemon?id=<?=$pokemon['id']?>">Analisar Pokémon</a>
                    </div>
                </div>
            </div>



        <?php } ?>
    </div>
</div>